<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php"
        colors="true"
        stopOnFailure="false"
        testdox="true"
        cacheResult="false">

    <testsuites>
        <testsuite name="FlexRouter">
            <directory>tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>